#first {
    color: rgb(255, 255, 255); 
}

#second {
    color: rgb(0, 0, 0); 
}

#third {
    color: rgb(255, 0, 0);
}

#fourth {
    color: rgb(0, 128, 0); 
}

#fifth {
    color: rgb(0, 0, 255); 
}

#sixth {
    color: rgb(255, 255, 0); 
}

#seventh {
    color: rgb(135, 206, 250); 
}

#eighth {
    color: rgb(138, 43, 226); 
}


