/* 5) Create an HTML and CSS file where multiple elements (<p>, <h1>, and <button>) share common styles using a single CSS rule. Then, add an additional rule to style only the <button> element differently. */
p,h1,button{
    color: blue;
    background-color: red;
    font-size: small;
}
button{
    color: gold;
    background-color: blue;
    font-size: larger;
}