/* 3) html-ის დოკუმენტში დაამატეთ 5 პარაგრაფი და თითოეულს გაუწერეთ განსხვავებული ფერი, გამოიყენეთ id ატრიბუტი თითეულ ელემენტთან და სელექტორიც გაწერეთ id-ის გამოყენებით */
#id1 {
    color: rgb(17, 0, 255);
}
#id2 {
    color:rgb(225, 65, 65)
}
#id3 {
    color: rgb(0, 255, 255);
}
#id4 {
    color: rgb(196, 255, 199);
}
#id5 {
    color: rgb(97, 47, 107);
}
/* 4) html-ის დოკუმენტში დაამატეთ 5 ღილაკი და ყველა მათგანის ფონის ფერი გაწერეთ შავი, გამოიყენეთ class */
button.btn {
    background-color: black;
    color: white;
}
/* 6) html-ის დოკუმენტში დაამატეთ ერთი ღილაკი, მას გაუწერეთ id და class ატრიბუტები.
css-ის კოდში ეს ელემენტი აირჩიეთ ორჯერ: 1 - id in selector, 2 - class in selector და 
ორივე css-ის წესში აირჩიეთ color კუთვნილება. კოდი ისე გაწერეთ რომ ფერი გამოვიდეს ლურჯი 
(დააკვირდით ამ მნიშვნელობას რომელ წესში გადასცემთ color კუთვნილებას) */
button#id6 {
    color: blue;
}
/* 8) html-ის დოკუმენტში გაწერეთ 5 დივ ბლოკი. თითოეულ მათგანს უნდა ქონდეს საკუთარი 
id და მათში მოთავსებული უნდა იყოს 2 paragraph, 2 button.
თითოეული დივ ბლოკი გასტილეთ, სელექტორში გამოიყენეთ i: დივ ბლოკს უნდა შეეცვალოს 
ფერი და ფონის ფერი (გამოიყენეთ rgb) */
#id7 {
    color: rgb(127, 255, 0);
    background-color: rgb(240, 248, 255);
}
#id8 {
    color: rgb(0, 0, 255);
    background-color: rgb(165, 42, 42);
}
#id9 {
    color: rgb(220, 20, 60);
    background-color: rgb(255, 140, 0);
}
#id10 {
    color: rgb(255, 215, 0);
    background-color: rgb(124, 252, 0);
}
#id11 {
    color: rgb(0, 255, 255);
    background-color: rgb(25, 25, 112);
}